@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">'Rain When I Die' by Alice in Chains, Covered by City and Colour's Dallas Green</h1>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1x6IULst9r4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>

    <p>
        <button onclick="myMove()">Dance</button>
        <div id="myAnimation"></div>
    </p>
</div>